*.rbc
*.sassc
.sass-cache
.project
capybara-*.html
.rvmrc
/.bundle
/vendor/bundle
/log/*
!.gitkeep
/tmp/*
/uploads/*
/db/*.sqlite3
public/system
public/sitemap
public/assets/*
!manifest.yml
!.sprockets-manifest-*.json
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.swp
*.watchr
.DS_Store
*~
tags
.pryrc
REVISION
Procfile
app/assets/images/tmp
solr/*
nohup.out
.idea/*
.test_queue_stats
.credentials
migrate_seeds.log
node_modules


/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/public/assets
.byebug_history
/config/master.key
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.byebug_history
