.callender {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  & table {
    margin-bottom: 30px;
  }
  & th {
    border: solid 1px;
    background-color: lightblue;
  }
  & tr {
    text-align: center;
  }
  & td {
    border: solid 1px;
  }
  &__link {
    &--container {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: mediumblue;
        height: 50px;
        width: 60px;
        cursor: pointer;
        border-radius: 5px;
        &.disable {
          cursor: default;
          background-color: gray;
        }
        & a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.holiday {
  background-color: lightpink;
}
